# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = tweekdev
	email = tja.theau54@gmail.com
[commit]
  template = ~/.config/git/template

[core]
	excludesfile = /Users/tweekdev/.gitignore_global
  autocrlf = input  # keep newlines as in input
  compression = 9  # trade cpu for network
  fsync = none
  whitespace = error  # threat incorrect whitespace as errors
[blame]
  coloring = highlightRecent
  date = relative

[diff]
  context = 3  # less context in diffs
  renames = copies  # detect copies as renames in diffs
  interHunkContext = 10  # merge near hunks in diffs
[log]
  abbrevCommit = true  # short commits
  graphColors = blue,yellow,cyan,magenta,green,red

[status]
  branch = true
  short = true
  showStash = true
  showUntrackedFiles = all  # show individual untracked files

[pager]
  branch = false  # no need to use pager for git branch
  diff = diff-so-fancy | $PAGER  # diff-so-fancy as diff pager

[push]
  autoSetupRemote = true  # easier to push new branches
  default = current  # push only current branch by default
  followTags = true  # push also tags
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[rebase]
  autoStash = true
# URL shortcuts
[url "git@github.com:"]
  insteadOf = "gh:"
# Colors
[color "blame"]
  highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

[color "branch"]
  current  = magenta
  local    = default
  remote   = yellow
  upstream = green
  plain    = blue

[color "diff"]
  meta       = black bold
  frag       = magenta
  context    = white
  whitespace = yellow reverse

[interactive]
  diffFilter = diff-so-fancy --patch
  singlekey = true
[alias]
	wipa = !git add --all && git wip     
	wip = !git commit -m "wip" 
	pushf = !git push --force-with-lease     
	ch = !git checkout     
	br = !git branch --sort=-committerdate     
	pushup = !git pushu 2>&1 | awk '/https/ {print $2}' | xargs xdg-open > /dev/null     
	kill-branches = "!f() { git branch | awk '!/^*|master/ {print $1 }' | xargs git branch ${1--d};}; f"     
	pushu = !git push -u origin `git rev-parse --abbrev-ref HEAD`
	feature-start = !sh -c 'git flow feature start $1 && git flow feature publish $1' -
  
	feature-checkout = !sh -c 'git flow feature checkout $1' -

	feature-finish = !sh -c 'gh pr merge -s feature/$1 && git flow feature delete -f --noremote $1 && git pull origin develop && git checkout develop' -

	release-start = !sh -c 'git flow release start $1 && git flow release publish $1' -
  release-delete = !sh -c 'git flow release delete -f $1' -

	release-checkout = !sh -c 'git checkout release/$1 && git pull --rebase origin release/$1' -

	release-finish = !sh -c 'git flow release finish --push --nokeep -n --fetch $1' -

	hotfix-start = !sh -c 'git flow hotfix start $1 && git flow hotfix publish $1 && git commit --allow-empty -m \"[hotfix-v$1] your message here\" && git push && sleep 5 && gh pr create --base main --title hotfix-v$1 --head hotfix/$1 --body \"c cho\"  --draft' -

	hotfix-finish = !sh -c 'gh pr ready hotfix/$1 && git flow hotfix finish -n --nokeep --squash --push --fetch $1' -
[init]
	defaultBranch = master
# Third-party: diff-so-fancy
[diff-so-fancy]
    markEmptyLines = false